{% extends "base.html" %}

{% block content %}
  <h1>Add New Post</h1>

  <form method="POST">
    {{ form.hidden_tag() }}  
    
    <div>
      <label for="title">Title</label>
      {{ form.title(class="form-control") }}
    </div>

    <div>
      <label for="content">Content</label>
      {{ form.content(class="form-control") }}
    </div>

    <div>
      <label for="category">Category</label>
      {{ form.category(class="form-control") }}
    </div>

    <div>
      <label for="author">Author</label>
      {{ form.author(class="form-control") }}
    </div>

    <div>
      <label for="is_active">Is Active</label>
      {{ form.is_active() }}
    </div>

    <div>
      <label for="publish_date">Publish Date</label>
      {{ form.publish_date(class="form-control") }}
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Add Post</button>
    </div>
  </form>
   <a href="{{ url_for("posts.get_posts") }}">Return posts</a>
{% endblock %}
