{% extends 'base.html' %}

{% block content %}
<section id="about" class="card mb-4">
    <h2>Про себе</h2>
    <p>Мене звати Іван Іванович Струтинський. Мені 19 років, я проживаю в селі Ясенів Пільний, Івано-Франківська область.</p>
</section>

<section id="education" class="card mb-4">
    <h2>Освіта</h2>
    <p>Я навчаюсь на 3 курсі в Прикарпатському національному університеті на факультеті математики та інформатики.</p>
</section>

<section id="skills" class="card mb-4">
    <h2>Навички</h2>
    <ul>
        <li>Умію створювати сайти</li>
        <li>Володію мовами програмування: HTML, CSS, JavaScript, Python, C++</li>
        <li>Знайомий з фреймворками: Flask, Django</li>
    </ul>
</section>

<section id="experience" class="card mb-4">
    <h2>Досвід роботи</h2>
    <p>Мій досвід роботи невеликий, але я завжди готовий навчатися новому і розвиватися як професіонал.</p>
</section>
{% endblock %}
